.ayam {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: -10px;

}


.test1 {
    font-size: x-large;
}

.test2 {
    font-size: x-large;

}

.ayam1 {
    font-size: x-large;

}

.kelaz {
    
}